doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')       
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title    
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure/pure-min.css')



  body
    nav
        ul
            li
                a(href="/") Home
            //- li
            //-     a(href="/info") Info
            li
                a(href="/downloads") Downloads
            if !loggedIn
                li
                    a(href="/users/login") Log In
            else
                if isAdmin
                    li
                        a(href="/logic/admin") Admin Panel
                else
                    li
                        a(href="/logic/general/edituser") Edit Team Info
                    li
                        a(href="/logic/general/written") View Written Scores
                li
                    a(href="/users/logout") Log Out
    for message in error_messages
        p.flash.error= message
    for message in success_messages
        p.flash.success= message
    block content