extends ../layout
block content
    h1 Admin View Users
    table.pure-table.pure-table-striped
        thead
            tr
                th Team
                th Member 1
                th Member 2
                th Member 3
                th Editing
                th Removing
        tbody
            for u in users
                tr
                    td= u.email
                    td= u.member1.name
                    td= u.member2.name
                    td= u.member3.name
                    td
                        a(href="/logic/admin/edituser/" + u.id) Edit
                    td
                        a(href="/logic/admin/removeuser/" + u.id) Remove

