extends ../layout
block content
    h1 Admin Panel
    p Welcome admin. Are you up to your tasks?
    nav
        ul
            li
                a.pure-button(href="/logic/admin/adduser") Add User
            li
                a.pure-button(href="/logic/admin/viewusers") View Users