extends ../layout
block content
    h1 Admin Panel
    p Welcome admin. Are you up to your tasks?
    ul
        li
            a(href="/logic/admin/adduser") Add User
        li
            a(href="/logic/admin/viewusers") View Users