body {
  padding: 0px 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 3.6em;
}


a {
  color: #FF7889;
}

a:hover {
    color: #CA0000;
}

a.pure-button-primary:hover {
  color: #fff;
}

a.pure-button:hover {
    color: #000;
}

nav {
    margin-bottom: 3em;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

nav ul li a {
    font-size: 1.1em;
    text-decoration: none;
}

form label {
    display: block;
    font-weight: bold;
    margin: 2em .05em .18em;
}

form.pure-form-stacked input.txt {
    margin-bottom: 12px;
}

form input.btn, button.btn {
    margin-top: 2em;
    display: block;
}

