extends ../layout
block content
    h1 Welcome Page
    if !isAdmin
        if user.email <= 'team40'
            - intro = 'NOVICE TEAM NUMBER'
        else
            - intro = 'ADVANCED TEAM NUMBER'
    else
        - intro = 'ADMIN'

    h3 #{intro} #{user.email.substring(4)}
